<form class="col-2 d-flex flex-column gap-2 mt-3 ms-2" [formGroup]="form">
    <div class="d-flex flex-column gap-2" formGroupName="name">
        <input class="form-control" type="text" placeholder="Име" formControlName="firstName">

        <input class="form-control" type="text" placeholder="Фамилия" formControlName="lastName">
    </div>

    <input class="form-control" type="tel" placeholder="Телефон" formControlName="phone">

    <label for="">
        <input class="form-check-input" type="checkbox" [checked]="formState.formState.value.businessAcc"
            (change)="toggleBusinessAcc()" formControlName="isBusinessAcc"> Бизнес потребител ли сте?
    </label>

    <div class="d-flex align-items-end justify-content-end">
        <button class="btn btn-primary" (click)="nextPage()">Next</button>
    </div>
</form>